<%= form_tag({:action => 'login_do'}, {:name=>'loginform'}) do %>
	<ul>
		<li><%= label_tag 'username' %><%= text_field_tag 'username' %></li>
		<li><%= label_tag 'password' %><%= text_field_tag 'password' %></li>
		<li><%= submit_tag "login" %></li>
	</ul>
<% end %>